$light_pink: #ce44f1;
$grey: #4b4848;

$dark_orange: #ff4e00;
$black: #000000;

$royal_pink: #eb0286;
$white: #ffffff;

$light_orange: #ffa200;
$dark_blue: #012944;

// Color scheme
$Dark_Blue: #12232e;
$Lighter_Blue: #007cc7;
$Lightest_Blue: #4da8da;
$Shadow_of_Dark_Blue: #203647;
$Shadow_of_Light_Blue: #eefbfb;

// color scheme 2
$Blackish: #202020;
$Dark_Grey: #3f3f3f;
$Medium_Grey: #707070;
$Egg_Yellow: #ffd6ca;
$White: #ffffff;

.bg-axis {
  background: linear-gradient(60deg, #8e36d6, #d61f76);
}
.bg-icici {
  background: linear-gradient(60deg, #d63671, #d67c1f);
}
.bg-sbi {
  background: linear-gradient(60deg, #d63671, #7a5597);
}
.bg-canara {
  background: linear-gradient(60deg, #c88f4d, #4a7cbd);
}
.bg-syndicate {
  background: linear-gradient(60deg, #d1764b, #dec773);
}

$header_color: #6c757d;
$footer_color: #aeb3b7;

// Background colors
$light: #aeb3b761;
$medium: #aeb3b7;
$dark: #6c757d;
